main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
}

.ContactSection {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 3vh 0;
}

.ContactSection svg {
  width: 2.5rem;
  height: 2.5rem;
}
